<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tm7s">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import tm7s urdf file -->
    <xacro:include filename="$(find tm_description)/xacro/tm7s_robotiq85_gripper.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="tm7s_robotiq.ros2_control.xacro" />


    <xacro:tm7s_robotiq_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
